# VS Code Settings
.vscode/

# Code for Quick Testing
testing.py
tempCodeRunnerFile.py

# Cached Files
__pycache__/

# Apple Desktop Services Store File
.DS_Store

# Python Virtual Enviornment Files/Folders
Pipfile
requirements.txt
venv/

# Local Data Files (high scores, etc.)
high_score.txt
data.txt
data.json
